<% provide(:title, "User List") %>

  <h3 class="center">ユーザ</h3>
  <hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1 center">
  <table class="table table-strip">
    <thead>
      <tr class="success">
        <th class="center">ID</th>
        <th class="center"><%= t "名前" %></th>
        <th class="center"><%= t "Eメール" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
  
</div>